.Login{
  position: fixed;
  z-index: 9;
  padding: 0 2rem 10rem 2rem;
  height: 100%;
  background: linear-gradient(left top , #ff2541, #0a1bc2);
  >div{
    height: 100%;
  }
  .am-list-item{
    padding-left: 0.2rem;
  }
  .btn{
    height: 1.2rem;
    line-height: 1.2rem;
    width: 4.8rem;
    text-align: center;
    position: fixed;
    top: 50%;
    color: #ccc;
    border: 1px solid #ccc;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    border-radius: .6rem;
  }
}