/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  touch-action: pan-y;
}
html, body {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#root,#root>div{
  height: 100%;
}
@keyframes fade-in {
  0%{
    transform: translateY(150rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@-webkit-keyframes  fade-in{
  0%{
    transform: translateY(150rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@-moz-keyframes  fade-in{
  0%{
    transform: translateY(150rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@keyframes fade-out {
   0%{
     transform: translateY(0rem);
   }
   100%{
     transform: translateY(150rem);
   }
 }
@-webkit-keyframes  fade-out{
  0%{
    transform: translateY(0rem);
  }
  100%{
    transform: translateY(150rem);
  }
}
@-moz-keyframes  fade-out{
  0%{
    transform: translateY(0rem);
  }
  100%{
    transform: translateY(150rem);
  }
}
.fade-in{
  -webkit-animation: fade-in .4s;
  -o-animation: fade-in .4s;
  animation: fade-in .4s;
  top: 0rem !important;
}.fade-out{
   -webkit-animation: fade-out .4s;
   -o-animation: fade-out .4s;
   animation: fade-out .4s;
   top: 150rem !important;
}
 .am-action-sheet-body .am-action-sheet-message{
   text-align: left;
 }